body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #0e0e0e;
  color: white;
}
body {
  background: white;
}


/* HEADER + FOOTER COLORS */
header, footer {
  background: linear-gradient(90deg, #1e3c72, #2a5298); 
  color: white;
}

/* HEADER */
header {
  padding: 10px 20px;
}
/*  search bar */
header input[type="text"] {
  flex: 1;              
  padding: 8px 12px;     
  font-size: 16px;       
  border-radius: 8px;    
  border: 2px solid white;       
  outline: none;         
}

.logo {
  display: flex;
  align-items: center;
  gap: 10px;
}

.logo img {
  width: 55px; 
  height: 55px;
  border-radius: 5px;
}

nav {
  margin-top: 10px;
  display: flex;
  align-items: center;
  gap: 12px;
  font-size: 15px;
}

nav a {
  color: white;
  text-decoration: none;
}

nav input {
  margin-left: auto;
  padding: 5px 8px;
  font-size: 14px;
}
/* Dropdown container */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown menu hidden by default */
.dropdown-content {
  display: none;
  position: absolute;
  background: linear-gradient(90deg, #1e3c72, #2a5298);
  min-width: 120px;
  top: 20px; 
  border-radius: 5px;
  flex-direction: column;
  z-index: 10;
}

/* Dropdown links */
.dropdown-content a {
  display: block;
  padding: 6px 10px;
  color: white;
  text-decoration: none;
}

/* Hover effect */
.dropdown-content a:hover {
  background: #324f9e;
}


.dropdown:hover .dropdown-content {
  display: flex;
  flex-direction: column;
}


/* GAMES SECTION */
.games {
  padding: 20px;
}

.row {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  justify-content: center;
}

.game img {
  width: 180px;        
  height: 240px;       
  object-fit: cover;   
  border-radius: 8px;  
  border: 2px solid #a08aff; 
  display: block;
  transition: transform 0.3s; 
}

.game img:hover {
  transform: scale(1.05);   
}


.game p {
  text-align: center;
  font-size: 15px;
  margin-top: 5px;
  color: white;
}

.trending-box {
  position: absolute;   
  top: 170px;          
  right: 20px;
  width: 240px;
  background: yellowgreen;
  padding: 20px;
  border-radius: 12px;
  color: white;
  font-size: 14px;
  box-shadow: 0 4px 15px rgba(0,0,0,0.5);
}

.trending-box h3 {
  margin-bottom: 12px;
  font-size: 20px;
  text-align: center;
  color: #ffec8b;
  text-shadow: 1px 1px 2px black;
}

.trend-news {
  height: 150px;
  overflow: hidden;
  position: relative;
}

.trend-list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-direction: column;
  animation: scrollUp 15s linear infinite;
}

.trend-list li {
  padding: 6px 0;
  border-bottom: 1px solid rgba(255,255,255,0.2);
}


@keyframes scrollUp {
  0% { transform: translateY(0); }
  100% { transform: translateY(-50%); }
}

/* FOOTER */
footer {
  text-align: center;
  padding: 10px;
  margin-top: 300px;  
  font-size: 14px;
  background: linear-gradient(90deg, #1e3c72, #2a5298);
  color: white;
}

.genreName {
  color: black;
  text-align: center;
  font-family: Arial, sans-serif;
}

/*For Game Pages*/

.gameImg {
  display: flex;
  justify-content: center;
  padding-top: 20px;
}

.gameImg img {
  width: 240px;        
  height: 310px;       
  object-fit: cover; 
  box-shadow: 0px 0px 10px #14141f;
  transition: transform 0.3s; 
}

.gameImg img:hover {
  transform: scale(1.05); 
  border: 2px solid #a08aff; 
}

.gameName {
  text-align: center;
  color: #0e0e0e;
}

.gameAns {
  text-align: center;
  line-height: 2px;
  color: #08fb48;
  text-shadow: 2px 2px 10px#aaff92;
}

.gameAnsPla {
  text-align: center;
  line-height: 2px;
  color: #f5d400;
  text-shadow: 2px 2px 10px#deff70;
}

.gameAnsNeg {
  text-align: center;
  line-height: 2px;
  color: #fb0808;
  text-shadow: 2px 2px 10px#ffbf92;
}

.gameDesc, .gameDog {
  display: flex;
  justify-content: center;
  color: black;
}

.gameDesc p, .gameDog p {
  text-align: center;
  max-width: 700px;
}

.gamePgFooter {
  text-align: center;
  padding: 10px;
  margin-top: 300px;  
  font-size: 14px;
  background: linear-gradient(90deg, #1e3c72, #2a5298);
  color: white;
}

.container {
  display: flex;
  justify-content: center;
  padding-top: 20px;
}

.citations h1, .citations p{
  color: black;
}

hr {
  width: 500px
}