body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #0e0e0e;
  color: white;
  background: rgb(135, 237, 243);
  cursor: url("./pawcursor32.png") 16 16, auto;
}



/* HEADER + FOOTER COLORS */
header{
  background: linear-gradient(30deg, #00ddff 10%, #2a5298 60%, rgb(10, 38, 77) 80%); /* nice blue gradient */
  color: white;

}

/* HEADER */
header{
margin-top: 60px;
border-radius: 1%;
}

h1{
    position: relative;
    top: 40px;
    font-weight:800;
    font-size: 35px;
    text-align: center;
    color:white;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h2{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
     font-weight:800;
    position: relative;
    font-size: 25px;
    top: -65px;
    right: -70px;
    color:black;
    
}

h3{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: linear-gradient(30deg, #00ddff 10%, #2a5298 60%, rgb(10, 38, 77) 80%); ;
    padding: 25px;
    width: 495px;
    color: black;
    font-weight: 800;
     font-size: 30px;
     line-height: 1em;
     border: 3px solid black;
     border-radius: 10px;
     position: relative;
     bottom: 10px;

}

h4{
    position: relative;
    top: 10px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
    color: rgb(229, 251, 144);
}

h5{
position: relative;
top: 10px;
 font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
 font-size: 20px;
 color: rgb(229, 251, 144);
}

h6{
position: relative;
 font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
 font-size: 20px;
 color: rgb(229, 251, 144);
 position: relative;
 top: -10px;

}

main {
    border-radius: 2px;
    font-size: 15px;
    color: #2a5298;
    font-weight: 600;
    width: 30%;
    line-height: 2.5em;
    margin-left: 200px;  
}


.logo {
    position: relative;
    top: -130px;
    left: 35px;
}

.logo img {
  width: 55px; 
  height: 55px;
  border-radius: 5px;
}

nav {
width: 100%;
margin-left: 0;
display: flex;
align-items: center;
font-size: 15px;
}

.search{
 width: 80%;
margin: 0 auto;
position: relative;
left : 425px;
bottom: 300px;
}

.search input[type="text"]{
    width: 350px;
    padding: 10px;
    font-size: 15px;
    border-radius: 8px;
    border: 2px solid black;
    outline: none;
}

nav a {
  color: white;
  text-decoration: none;
}

nav input {
  margin-left: auto;
  padding: 5px 8px;
  font-size: 14px;
}


footer {
text-align: center;
padding: 20px;
font-size: 14px;
background: linear-gradient(30deg, rgb(10, 38, 77) 10%, #2a5298 40%, #00ddff 80%);
color: white;
position: relative;
bottom: -100px;
}

.contact {
    background-color: #2a5298;
    color: black;
    text-align: center;
    border-radius: 10px;
    width: 550px;
    margin-top: -667px;
}


.text1{
    color: rgb(125, 243, 164) ;
    font-size: 15px;
    text-decoration: underline;
}

.text2{
    position: relative;
    bottom: 30px;
    font-size: 15px;
}

.media-box{
    width:500px;
    height: 300px;
    object-fit: cover;
    border-radius: 8px;

}

.support-video-container{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-top: 30px;
    margin-right: 200px;
    gap: 50px;
}

.faq{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: linear-gradient(30deg, #00ddff 10%, #2a5298 60%, rgb(10, 38, 77) 80%);
    padding: 25px;
    width: 1070px;
    color: black;
    font-weight: 800;
     font-size: 30px;
     line-height: 1em;
     border: 3px solid black;
     border-radius: 10px;
     position: relative;
     bottom: -85px;
}

.my-button{
    background-color: rgb(17, 92, 197);
    color: black;
    padding: 15px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    margin: 4px;
    cursor:pointer;
    border:none;
    border-radius:10px;
    transition: background-color 0.3s ease;
    position: relative;
    bottom: 300px;
    right: 520px;
    padding: 10px;
    border-radius: 8px;
    border: 2px solid black;
    outline: none;
    width: 100px;
}

.my-button:hover{
    background-color:#00ddff ;
}

.questions{
    width: 925px;
    background-color: rgb(15, 120, 172);
    padding: 100px;
    border-radius: 10px;
}

details{
    background: linear-gradient(30deg, #00ddff 10%, #5f982a 60%, rgb(158, 48, 4) 80%);
    border-radius: 5px;
    margin-bottom: 10px;
    overflow: hidden;
}

summary{
    padding: 15px;
    cursor: pointer;
    font-weight: bold;
    color: black;
    display: flex;
    justify-content: space-between;
    font-size: 17px;
    text-decoration: underline;
}

summary::after{
    content: '+';
    font-size: 1.2em;
    transition: transform 0.2s ease;
}

details[open] summary{
    border-bottom: 2px solid #ccc;
}

details p{
    padding: 15px;
    padding-bottom: 20px;
    color: rgba(26, 25, 105, 0.918);
    line-height: 1.6;
    margin: 0;
}
.paw-track{
    position: relative;
    width: 100%;
    height: 200px;
    overflow: hidden;
}

.paw-print{
    position: absolute;
    width: 60px;
    height: 60px;
    background-image: url("../Images/paw-print.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    opacity: 0;
    animation: paw-fade-in-out 2s forwards infinite;
}


.paw-print:nth-child(1){
    left: 70%;
    top: 1%;
    animation-delay: 0.3s;
}

.paw-print:nth-child(2){
    left: 85%;
    top: 50%;
    animation-delay: 1s;
}

.paw-print:nth-child(3){
    left: 25%;
    top: 55%;
    animation-delay: 0.5s;
}
.paw-print:nth-child(4){
    left: 5%;
    top: 1%;
    animation-delay: 1s;
}

.paw-print:nth-child(5){
    left: 40%;
    top: 1%;
    animation-delay: 0.5s;
}

.paw-print:nth-child(6){
    left: 55%;
    top: 50%;
    animation-delay: 3s;
}

@keyframes paw-fade-in-out{
0%{
    opacity: 0;
    transform: scale(0.3);
}

20%{

    opacity: 1;
    transform: scale(1);
}

80%{
    opacity: 1;
    transform: scale(1);
}

100%{
    opacity: 0;
    transform: scale(0.5);
}
}