
/*try to mainly use complementory colors that correspond with the background gradients*/
#div1 {
    background-image:linear-gradient(#2B0047, #5f0b6d, #002c47bd );
    text-align: center;
    padding-top: 10px;
    padding-bottom: 20px;
    color:aliceblue;
}

#bothead {
    margin-left: 150px;
}

#lowhead {
    border: 1px black;
}


/*Centered text for headers, some bodys will follow the same pattern*/

#htxt {
    text-align: center;
    font-size: 23px;
    margin-left: 135px;
}

#h2txt {
    text-align: center;
    font-size: 23px;
}



#btxt {
    text-align: center;
}


/*Overflow textbox which will include the personal paragraph*/
#b2txt {
    border: 1px solid #360954;
    background-color: #ffe6f7;
    text-align: center;
    font-size: large;
    width: 90%;
    height: 100px;
    padding: 20px;
    margin-left: 20px;
    overflow:scroll;
}

/*Hyperlink design to be unique and matching the colour theme of the page*/
a:link{
    color: #5f0b6d;
    font-weight: bold;
}

a:hover{
    color: #a85fb5;
    font-weight: bold;
}

a:visited{
    color: #360954;
    font-weight: bold;
}

a:active{
    color: rgb(255, 0, 157);
    font-weight: bold;
}

/*Base of the webpage that holds all content, be it header or text*/
#midui {
    background-color: #F5E6FF;
    border: 1px solid black;
    width: 800px;
    height: 1200px;
    right: 0;
    margin:auto;
    box-shadow: 0px 0px 40px black;
}



img.fidelity {
    float: right;
    height: 135px;
    width: auto;
}

img.Ozzy {
    float: center;
    height: 200px;
    width: auto;
}

img.Walter {
    float: center;
    height: 200px;
    width: auto;
}
